/**
* simple form group layout
* - style.css
**/

h3 {
	color: #2E4F63;
	font-size: 20px;
}

p {
	color: #58595B;
	font-size: 14px;
}

/* form group */

form.photos-search {
	border: 1px solid #ddd;
	margin: 50px;
	padding: 20px;
	min-width: 370px;
}

.search-container {
	display: flex;
}

.search-container label {
	padding: 10px;
	background-color: #9EC0BB;
	color: #2E4F63;
	line-height: 2;
	width: 100px;
	font-weight: 450;
} 

.search-container input[type="text"] {
	flex: 1 1 auto;
	border: 1px solid #5C9396;
	line-height: 2;
	margin: 0 15px 0 0;
	padding: 10px;
	color: #5C9396;
	font-weight: 450;
}

.search-container input[type="submit"] {
	background-color: #79818C;
	border: 1px solid #5C9396;
	color: #EEEEEE;
	width: 75px;
}

