/**
* simple card layout
* - style.css
**/

h3 {
	color: #2E4F63;
	font-size: 20px;
}

p {
	color: #58595B;
	font-size: 14px;
}

/* cards */

.cards {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	width: 75%;
}
	
.card-view {
  display: flex;
  flex-direction: column;
	flex: 1 0 250px;
	border: 1px solid #2C5F72;
	margin: 10px;
	padding: 20px;
}

.card-view header {
	padding: 10px;
	background-color: #2F4C75; 
	color: #EDEDED;
	font-size: 16px;
}

.card {
	display: flex;
	align-items: flex-start;
	margin: 0 0 10px 0; 
}

.card-content {
  flex: 1;
}

.card-view footer {
	border-top: 1px solid #5C9396;
	padding: 10px 0;
}

/* media objects */
.card-media img {
	max-width: 250px;
	padding: 10px 10px 0 0;
}
