/**
* simple card layout
* - style.css
**/

h3 {
	color: #6593A6;
	font-size: 20px;
}

p {
	color: #58595B;
	font-size: 14px;
}

/* cards */

.cards {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	width: 75%;
}
	
.card-view {
  display: flex;
  flex-direction: column;
	flex: 0 0 250px;
	/*width: 250px;*/
	border: 1px solid #2C5F72;
	margin: 10px;
	padding: 20px;
}

.card-view header {
	padding: 10px;
	background-color: #2C5F72; 
	color: #80BEA3;
	font-size: 17px;
}

.card-content {
  flex: 1;
}

.card-view footer {
	border-top: 1px solid #5C9396;
	padding: 10px 0;
}
