/**
* simple menu layout
* - style.css
**/

h3 {
	/*color: #6593A6;*/
	color: #337B92;
	font-size: 20px;
}

p {
	color: #58595B;
	font-size: 14px;
}

/* menu layout */
nav.site-menu {
	border: 1px solid #063647;
	font-size: 14px;
}

nav ul {
	display: flex;
	margin: 0;
	padding: 0;
	/* justify-content: space-around; */
}

nav ul li {
	margin: 10px;
	padding: 10px;
	background-color: #337B92;
	list-style-type: none;
	flex: auto; 
}

nav ul li a {
	text-decoration: none;
	color: #ACF2F2;
}

nav ul li a:hover {
	color: #F5EEB7;
}

/* handle sub-menu */

nav ul li.primary-menu:hover .sub-menu {
	display:block;
}

nav ul.sub-menu {
	display: none;
	position: absolute;
  padding: 12px 16px;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	flex: auto;
  z-index: 1;
}
